# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
training/interestCalc/accepted_2007_to_2018Q4.csv
training/model-lite/accepted_2007_to_2018Q4.csv
