#titleXd {
  text-align: center;
  color: white;
  margin: 0; /* Removes default margins */
  padding-top: 10px; /* Adjust this if you want a small gap */
}

/* Ensure the container uses available space efficiently */
.chatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Rests the NavBar and h1 */
  background: black;
}

/* Reduce padding at the top of the content */
.main-content {
  padding-top: 35px; /* Decreased from 60px to 30px */
}

.chatbot {
  width: 80%;
  height: 80%;
  background: #000000;
  border: 1px solid #333333;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatbot header {
  background: #000000;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chatbot header h2 {
  color: #ff69b4;
  font-size: 1.6rem;
  margin-top: 0;
  background: -webkit-linear-gradient(#ffffff, #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerXd {
  background: #000000;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerXd h2 {
  color: #ff69b4;
  font-size: 1.6rem;
  margin-top: 0;
  background: -webkit-linear-gradient(#ffffff, #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chatbox {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #000000; /* Fondo oscuro del chat */
}

.chat {
  display: flex;
  margin-bottom: 10px;
}

.incoming img {
  height: 35px;
  width: 40px;
  margin-right: 10px;
}

.chat p {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  color: white; /* Texto blanco */
}

.outgoing p {
  background: #ff69b4; /* Color de fondo para los mensajes del usuario */
  color: #fff;
  margin-left: auto;
}

.incoming p {
  background: #000000; /* Color oscuro para los mensajes del bot */
  color: #fff;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #000000; /* Fondo oscuro */
  border-radius: 0 0 10px 10px;
}

.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ff69b4; /* Borde del input con gradiente */
  border-radius: 10px 0 0 10px;
  resize: none;
  font-size: 14px;
  outline: none;
  background: #202020; /* Fondo oscuro */
  color: white;
}

.chat-input button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #ffffff 0%, #ff69b4 100%);
  color: black;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 14px;
  margin-left: -1px;
  outline: none;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background: linear-gradient(90deg, #ff1493 0%, #ff69b4 100%);
  color: #ffffff;
}
