.main-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.content {
  flex-grow: 1;
  padding: 20px;
  padding-top: 20px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px); /* Ajuste para ocupar toda la altura menos la navbar (60px) */
  flex-direction: column;
  background-color: black;
  padding-top: 80px; /* Separación de la navbar */
  padding-bottom: 0; /* Eliminar cualquier espacio adicional en la parte inferior */
  margin-bottom: 0px;
}

.hero-section {
  max-width: 1050px;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.hero-section h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#ffffff, #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.cta-button {
  background: linear-gradient(90deg, #ffb6c1 0%, #ff69b4 100%); /* Gradiente de un rosa suave a tu rosa actual */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background: linear-gradient(90deg, #ff69b4 0%, #ff1493 100%); /* Gradiente más oscuro en hover */
  color: white;
}

.secondary-button {
  background: transparent;
  border: 2px solid;
  border-image: linear-gradient(90deg, #ffb6c1 0%, #ff69b4 100%) 1; /* Gradiente de borde */
  color: white;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary-button:hover {
  background: linear-gradient(90deg, #ff69b4 0%, #ff1493 100%);
  color: black;
}


.logos-section {
  padding: 50px 0; /* Espacio superior e inferior */
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px; /* Espacio entre los logos */
  padding: 20px 40px; /* Espacio interno */
  max-width: 1200px; /* Limitar el ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  border-radius: 15px; /* Bordes redondeados */
}

.company-logo {
  max-width: 300px; /* Ajustar tamaño de los logos */
  height: auto;
}

.logos-section h2 {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.company-logo1 {
  width: 200px;
}

.company-logo2 {
  width: 200px;
}

.company-logo3 {
  width: 150px;
}

.company-logo4 {
  width: 200px;
}

.company-logo {
  object-fit: contain; 
  height: auto; 
}



.analytics-section {
  padding: 60px 0;
  margin-top: 45px;
  color: white;
}

.analytics-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.analytics-image {
  width: 400px;
  height: auto;
}

.analytics-image1 {
  width: 300px;
  height: auto;
}

.analytics-text {
  max-width: 500px;
  text-align: left;
}

.analytics-text h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.analytics-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.analytics-button {
  background-color: #6a5acd;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
}

.hero-section h1, .logos-section h2 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#ffffff, #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos-section h2 {
  font-size: 36px; /* Ajustar el tamaño del h2 para que sea más pequeño que el h1 */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


/* Footer */
.footer {
  background: #000000; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 20px;
  text-align: center;
  border-top: 1px solid #000000; /* Borde superior */
  margin-top: 40px; /* Espacio entre el contenido y el footer */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.footer-links a {
  color: #ff69b4; /* Enlaces en color rosa */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff1493; /* Color más oscuro en hover */
}
