.wallet-container {
    display: flex;
    height: 100vh; 
}

.navbar-container {
    width: 80px; 
}

.content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.analyzeBTN{
    margin: 10px;
    margin-left: 10px;
    background: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    border-color: black;
}

.analyzeBTN:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}